* text=auto
*.cfg text eol=lf
*.md text eol=lf
*.js text eol=lf
*.cjs text eol=lf
*.json text eol=lf
*.py text eol=lf
.gitignore text eol=lf
*.html text eol=lf
*.css text eol=lf
*.yml text eol=lf
*.ps1 text eol=crlf
*.bat text eol=crlf
